@import '../../../styles/mixin.scss';

.header {
	background-image: url('../../../assets/hero-section-bg.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 80rem;

	@include responsive("mobile") {
		height: 50rem;
	}
    
	.container {
        max-width: 130rem;
		margin: 0 auto;
		padding: 0 2rem;
        
		.headerSection {
            padding-top: 20rem;
            position: relative;
			height: 68rem;

			@include responsive("mobile") {
				height: 50rem;
				padding-top: 25rem;
			}

			.headerNotes {
				display: flex;
				align-items: center;
				justify-content: space-between;

				@include responsive("mobile") {
					display: none;
				}

				.items {
					display: flex;
					flex-direction: column;
					gap: 0.8rem;

					&:first-child {
						span {
							background: rgb(255,255,255);
							background: linear-gradient(260deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
						}
					}

                    &:last-child {
						span {
							background: rgb(255,255,255);
							background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
						}

                        span:last-child {
                            position: relative;
                            left: 8rem
                        }
                    }

					span {
						width: -moz-fit-content;
						width: fit-content;
						display: table;
						padding: 1rem 2rem;
						font-size: 1.8rem;
						font-weight: 600;
						color: #191616;
					}
				}
			}

            .churchImage {
                position: absolute;
				width: 113.6rem;
				height: 61.7rem;
				bottom: 0;
                left: 26rem;

				@include responsive-custom(1280px) {
					left: 0;
					bottom: 0;
					width: 100%;
					height: 35rem;
				}

				@include responsive("mobile") {
					left: 0;
					bottom: 0;
					width: 100%;
					height: auto;
				}
            }
		}
	}
}
