.section {
    background-color: #FDF8F3;
    padding: 10rem 0;
    border-bottom: 1px solid #DCDCDC;

    .container {
        max-width: 130rem;
        margin: 0 auto;

        .staffSection {
            text-align: center;

            h2 {
                padding: 1rem 0 3rem 0;
                font-size: 5.4rem;
                font-family: 'Gotham', sans-serif;
                color: #4E3718;
            }
        }
    }
}
