@import '../../../styles/mixin.scss';

.prayerSection {
    margin: 10rem 0;

    .container {
        margin: 0 auto;
        max-width: 130rem;
		padding: 0 2rem;

        .missions, .persecution {
            margin: 5rem 0;

            h2 {
                margin: 2rem 0;
                font-weight: 900;
                font-size: 3.2rem;
                color: #242121;
            }
        }
    }
}