@import '../../../styles/mixin.scss';

.section {
    padding: 10rem 0;

    .container {
        max-width: 130rem;
        margin: 0 auto;

        .aboutSection {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 100%;

            @include responsive('mobile') {
                padding: 2rem;
            }

            .box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin: 5rem 0;

                @include responsive('mobile') {
                    flex-direction: column;
                    gap: 5rem;

                    &:nth-child(2) {
                        flex-direction: column-reverse;
                    }
                }

                .image {
                    width: 100%;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .content {
                    width: 100%;
                    
                    &:first-child {
                        padding-right: 7rem;

                        @include responsive('mobile') {
                            padding-right: 0;
                        }
                    }

                    &:last-child {
                        padding-left: 7rem;

                        @include responsive('mobile') {
                            padding-left: 0;
                        }
                    }
                    
                    h3 {
                        font-size: 5.4rem;
                        color: #4E3718;
                    }

                    p {
                        font-size: 2rem;
                        color: #7F7A74;
                    }
                }
            }
        }
    }
}