@import '../../../styles/mixin.scss';

.calendar {
    padding: 5rem 0;

    .container {
        margin: 0 auto;
        max-width: 130rem;

        .calendarSection {

            .calendar {
                display: flex;
                justify-content: center;
                margin: 0 auto;
                
                @include responsive-custom(1280px) {
					width: 80%;
                    height: 60rem;
				}

                @include responsive("mobile") {
					width: 90%;
                    height: 45rem;
				}
            }

            .heading {
                text-align: center;
                margin: 0 auto;
                width: 644px;

                @include responsive("mobile") {
					width: 100%;
                    padding: 0 2rem;
				}

                h2 {
                    font-size: 5.4rem;
                    font-weight: 900;

                    @include responsive("mobile") {
                        font-size: 3.2rem;
                    }
                }

                p {
                    color: #605757;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 1.6;

                    @include responsive("mobile") {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}