@import '../../../../styles/mixin.scss';

.nav {
	position: absolute;
    width: 100%;
    z-index: 9;

	.container {
		max-width: 130rem;
		margin: 0 auto;
		padding: 0 2rem;

		.navSection {
			display: flex;
			justify-content: space-between;
            align-items: center;

            @include responsive-custom(1280px) {
                padding: 3rem 2rem;
            }

            .logo {
                width: 13rem;
                height: 13rem;

            }

            .mobileLinks {
                display: none;

                @include responsive-custom(1280px) {
                    padding: 10rem 2rem;
					display: block;
                    position: fixed;
                    top: 0;
                    right: 0;
                    height: 100vh;
                    background-color: #ddd;
                    opacity: 0.9;
                    width: 100%;
                    list-style: none;
                    text-align: center;
                    z-index: 9;

                    li a {
                        text-decoration: none;
                        color: #000;
                        font-size: 1.7rem;
                        padding: 2rem 0;
                        display: block;
                    }
                }
            }

			.links {
				display: flex;
				align-items: center;
				list-style: none;
				gap: 4rem;

                @include responsive-custom(1280px) {
                    display: none;
                }

                li a {
                    font-size: 2rem;
                    text-decoration: none;
                    color: #B88137;
                    font-family: 'Mulish', sans-serif;

                    &.active {
                        color: #B88137;
                        font-weight: bold;
                    }
                }
			}

            .btn {
                width: 16.8rem;
                height: 4.8rem;
                background-color: #B88137;
                border: 0;
                color: #fff;
                font-family: 'Mulish', sans-serif;
                font-size: 1.8rem;
                font-weight: 600;
                display: flex;
                align-items: center;
                gap: 1rem;
                justify-content: center;
                text-decoration: none;

                @include responsive-custom(1280px) {
                    display: none;
                }
            }

            .hambMenu {
                border: 0;
                background-color: inherit;
                color: #fff;
                font-size: 3rem;
                position: relative;
                top: 0.5rem;
                display: none;

                @include responsive-custom(1280px) {
                    display: block;
                }
            }

            .closeMenu {
                border: 0;
                background-color: inherit;
                color: #fff;
                font-size: 3rem;
                position: fixed;
                top: 3.5rem;
                right: 2rem;
                display: none;
                z-index: 9;
                
                @include responsive-custom(1280px) {
                    display: block;
                }
            }
		}
	}
}

