@import '../../../styles/mixin.scss';

.about {
    padding: 15rem 0;

    @include responsive('mobile') {
      padding: 8rem 0;
    }

    .container {
        margin: 0 auto;
        max-width: 130rem;
		    padding: 0 2rem;

        .aboutSection {
            
            .heading {
                text-align: center;
                width: 81.6rem;
                margin: 0 auto;

                @include responsive-custom(1280px) {
					          width: 100%;
                    padding: 0 2rem;
				        }

                h2 {
                    font-size: 5.4rem;
                    font-weight: 900;
                    color: #4E3718;

                    @include responsive-custom(1280px) {
                        font-size: 4rem;
                    }

                    @include responsive("mobile") {
                        font-size: 3.2rem;
                    }
                }

                p {
                    color: #7F7A74;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 1.6;

                    @include responsive-custom(1280px) {
                        font-size: 1.5rem;
                    }

                    @include responsive("mobile") {
                        font-size: 1.2rem;
                    }
                }
            }

            .workGallery {
                width: 80%;
                display: flex;
                flex-direction: column;
                margin: 5rem auto 0 auto;
          
                @include responsive("mobile") {
                  width: 100%;
                }
          
                .grid {
                  display: grid;
                  grid-template-columns: repeat(5, 1fr);
                  grid-gap: 20px;
                  width: 100%;

                  
                  @include responsive("tab-land") {
                    grid-template-columns: repeat(2, 1fr);
                  }
                  
                  @include responsive('mobile') {
                    grid-template-columns: repeat(1, 1fr);
                  }

                  .image {
                    width: 100%;
                    position: relative;
                    text-decoration: none;
                    color: #fff;
          
                    &.onlyOneImage {
                      grid-column: span 3 / 5 !important;
          
                      @include responsive("tab-land") {
                        width: 100%;
                        grid-column: span 2 !important;
                      }
                    }
          
                    &:hover .overlay,
                    &:hover .content {
                      cursor: pointer;
                      transition: 0.4s;
                      opacity: 1;
                    }
          
                    .overlay {
                      background: rgb(0, 0, 0);
                      background: linear-gradient(
                        0deg,
                        rgba(0, 0, 0, 0.9444152661064426) 4%,
                        rgba(0, 0, 0, 0.8379726890756303) 49%,
                        rgba(0, 0, 0, 0.48503151260504207) 74%
                      );
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      border-radius: 10px;
                      opacity: 0;
          
                      .icon {
                        position: absolute;
                        top: 1.5rem;
                        right: 1rem;
                        font-size: 3rem;
                        color: #fff;
                      }
                    }
                    .content {
                      position: absolute;
                      bottom: 3rem;
                      left: 0;
                      opacity: 0;
                      display: flex;
                      flex-direction: column;
                      gap: 2rem;
                      padding: 2rem;
          
                      .title {
                        font-weight: 400;
                        font-size: 3rem;
                        line-height: 33.2px;
                        width: 100%;
          
                        @include responsive("tab-land") {
                          width: 100%;
                        }
                      }
          
                      .text {
                        font-size: 1.7rem;
                        font-weight: 400;
                        line-height: 20.6px;
                        color: #fff;
                        opacity: 0.7;
                        width: 100%;
          
                        @include responsive("tab-land") {
                          width: 100%;
                        }
                      }
                    }
          
                    &:nth-child(1) {
                      grid-column: span 3;
                    }
          
                    &:nth-child(2) {
                      grid-column: span 2;
                    }
          
                    &:nth-child(3) {
                      grid-column: span 2;
                    }
          
                    &:nth-child(4) {
                      grid-column: span 3;
                    }
                  }
          
                  .div {
                    width: 100%;
                    height: 45rem;
                    border-radius: 12px;
                    object-fit: cover;
                  }
                }
              }

            .images {
                display: flex;
                align-items: center;
                gap: 2rem;
                justify-content: center;
                margin: 5rem 0;
                position: relative;

                @include responsive-custom(1280px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    padding: 1rem 2rem;
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 62rem;
                    background: rgb(255,255,255);
                    background: radial-gradient(circle, rgba(255,255,255,0.2) 1%, rgba(255,255,255,0.5) 100%);
                    z-index: 3;

                    @include responsive-custom(1280px) {
                        height: calc(100% + 5rem);
                    }
                }

                .imagesLayer {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    &:nth-child(even) {
                        position: relative;
                        top: 6rem;
                    }

                    .image {
                        width: 29.1rem;
                        height: 27rem;
                        background-color: #ddd;

                        @include responsive-custom(1280px) {
                            width: 100%;
                            height: auto;
                        }

                        @include responsive("mobile") {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            
        }
    }
}